extends layout

block head
	title=Wait
	script(type='text/javascript' src='http://localhost:3000/socket.io/socket.io.js')
	script(type='text/javascript' src='/scripts/custom/redirect.js')

block content

	div
		h1 Attendere prego!
		h2 rappresentazione in corso
	div
		h4 Titolo della rappresenzatione :
			p(id='title')
		h4 Categoria :
			p(id='category')
		h2 Falli:
		h5 redFauls :
			p(id='redFaul') nessuno
			p redPenality :
				p(id='redPen') nessuno
		h5 blueFauls :
			p(id='blueFaul') nessuno
			p bluePenality :
				p(id='bluePen') nessuno

	script.
		var socket=io(":3000/whilePlay");	
		var blueFauls;
		var redFauls;
		var bluePenality;
		var redPenality;
		
		
		function addFaul(teamName, faulNum, penPt){
			if (teamName==='red'){
				document.getElementById("redFaul").innerHTML=faulNum;
				document.getElementById("redPen").innerHTML=penPt;
				document.getElementById("redFaul").contentWindow.location.reload(true);
			}
			else {
				document.getElementById("blueFaul").innerHTML=faulNum;
				document.getElementById("bluePen").innerHTML=penPt;
			}
		}
		
		socket.on('welcomeWait', function(blueF, redF, blueP, redP, title, category){
			blueFauls=blueF;
			bluePenality=blueP;
			redFauls=redF;
			redPenality=redP;
			document.getElementById("title").innerHTML=title;
			document.getElementById("category").innerHTML=category;
			document.getElementById("redFaul").innerHTML=redFauls;
			document.getElementById("blueFaul").innerHTML=blueFauls;
			document.getElementById("redPen").innerHTML=redPenality;
			document.getElementById("bluePen").innerHTML=bluePenality;
		});
		
		socket.on('faul', function(name, num, pen){
			addFaul(name, num, pen);

		});